/* header */
header{
    background-color: #E0DDDA;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo {
    width: 219px;
/* padding-left: 18px; */
}

.global-nav {
    position: sticky;
    top: 0;
    background-color: #23221F;
    height: 75px;
    padding: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
        align-items: center;

}
    .global-nav-link {
        font-family: "neuzeit-grotesk", sans-serif;
        color: #E0DDDA;
        padding: 15px;
        display: block;
        text-decoration: none;
    }

    .global-nav-link-current {
        font-weight: bold;
    }

    .brandmark {
        width: 50px;
    }

    
    /* footer */
.footer-nav{
    margin: 0px 0px 0px 0px;
    background-color: #23221F;
    font-family: "neuzeit-grotesk", sans-serif;
    height: 75px;
    padding: 0px;
    list-style-type: none;
    display: flex;
        align-items: center;
}
    .footer-nav-icon{
    width: 30px;
    height: 30px;
    }
    .about-designer{
    color: #E0DDDA;
    text-decoration: none;
}
    .footer-nav-icon, .about-designer{
        display: flex;           
        align-items: center;      
        padding: 18px;
    }